
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    100%
}
header img{
    width: 122px;
    height: 95.05;
    object-fit: contain;
}
.navbar li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.logo,.navbar{
    display: inline-block;
}
.logo,.navbar{
    vertical-align: middle; 
}
.mainphoto{
    width: 1640px;
    height: 613px;
    object-fit: contain;
    margin-inline: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}
.title{
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 30px;
}
article img{
    max-width: 483px;
    width: 100%;
}
article{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 1px solid #ccc;
}
.article-img{
    display: inline-block;
    width: 30%;
}
article p{
    width: 70%;
    margin-bottom: 20px;
}
article h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
.load{
    margin-left: 50%;
}

