
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    100%
}
header img{
    width: 122px;
    height: 95.05;
    object-fit: contain;
}
.navbar li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 20px;
}
.logo,.navbar{
   display: inline-block;
}
.logo,.navbar{
    vertical-align: middle; 
}
.mainphoto{
    width: 1640px;
    height: 613px;
    object-fit: contain;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}
.title{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 30px;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 40px;
    color: #707070;
}
article img{
    max-width: 483px;
    width: 100%;
}
article{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 1px solid #ccc;
}
.article-img{
    display: inline-block;
    width: 30%;
}
article p{
    width: 70%;
    padding-bottom: 20px;
    font-family: "ALK Tommaso", sans-serif;
    font-size: 18px;
    color: #707070;
}
article h3{
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 30px;
    color: #707070;
}
.load{
    margin-left: 50%;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 30px;
    color: #707070;
}
article a{
    padding-left: 70%;
    font-family: "ArchyEDT-Thin", sans-serif;
    font-size: 24px;
    color: #707070;
}
footer img{
    width: 122px;
    height: 95.05px;
    object-fit: contain;
    
}
footer {
    max-width: 1940px;
    height: 212px;
    background-color: #2E2E2E
    
}
footer div{
    text-align: center;
    padding-bottom: 30px;
    color: #FFFFFF;
    font-family: "ArchyEDT-Thin", sans-serif;
}
.list{
    color: #FFFFFF;
}
.navbar a{
    color: #707070;
}


    



